<!DOCTYPE html>
<html>
  <head>
    <title>FirstRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="background: lightgray; padding: 3rem;">
    <form action="/contact" method="get">
  <input type="text" name="name" placeholder="Who are you looking for?" value=<%= params[:name] %>>
  <input type="submit">
</form>

    <ul>
      <li>
  <%= link_to "Leanr more about us", about_path %>

      </li>
      <li>
  <%= link_to "Get in touch", contact_us_path %>
      </li>
    </ul>

</div>

    <%= yield %>
  </body>
</html>
